* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  width:100%;
  min-height:100vh;
}

.app {
  width:100%;
  min-height:100vh;
  padding:24px;
}


/* Light */

.app.light {
  background: #eef2f7;
  color: #1e293b;
}


/* Dark */

.app.dark {
  background: #0b1220;
  color: #e2e8f0;
}