.app {
  min-height: 100vh;
  padding: 20px;
  transition: background 0.3s, color 0.3s;
}

/* Light theme */
.app.light {
  background: #f5f5f5;
  color: #222;
}

/* Dark theme */
.app.dark {
  background: #222;
  color: white;
}


/* Card styles */
.app.light .card {
  background: white;
  color: black;
}


.app.dark .card {
  background: #333;
  color: white;
}


/* Column styles */
.app.light .column {
  background: #e8e8e8;
}


.app.dark .column {
  background: #2b2b2b;
}